<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <style>
        .transparent{
            background: rgba(255, 255, 255, 0.5);
        }
    </style>

    <title>Quiz ongoing</title>
</head>
<body>
    <div class="block has-background-success" style="padding: 5% 10%;">
        <form id="app" class="box transparent">
            <div class="block" v-for="(question, index) in questions">
                <div class="card transparent">
                    <header class="card-header"><p class="card-header-title">{{index + 1}}. {{question.value}}</p></header>
                    <div class="card-content">
                        <div class="content"><ol class="is-lower-alpha"><li v-for="answer in question.answers">{{answer}}</li></ol></div>
                    </div>
                </div>
            </div>
          
            <button class="button is-primary">submit</button>
        </form>
    </div>
    <script>
        new Vue({
            el: "#app",
            data:{
                questions:[{
                    id: 1,
                    value:"question1",
                    answers:["a", "b", "c", "d"]
                }, {
                    id: 2,
                    value:"question2",
                    answers:["a", "b", "c", "d"]
                }, {
                    id: 3,
                    value:"question3",
                    answers:["a", "b", "c", "d"]
                }, {
                    id: 4,
                    value:"question4",
                    answers:["a", "b", "c", "d"]
                }, {
                    id: 5,
                    value:"question5",
                    answers:["a", "b", "c", "d"]
                }, {
                    id: 6,
                    value:"question6",
                    answers:["a", "b", "c", "d"]
                }, {

                    id: 7,
                    value:"question7",
                    answers:["a", "b", "c", "d"]
                }],
            }
        })
    </script>

</body>
</html>